<nav class="menu  {{ page.title  }}">
    <ul>
      <li>
        <span>
          <div class="content">
            <img src="{{ site.baseurl }}/arquivos/icones/inicie.svg" alt="Logo da Loja">
            <a href="{{ site.baseurl }}/">  Inicie aqui</a>
          </div>
          <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">
        </span>
      </li>
      <li class="has-children-pai {% if page.title  == 'homepage' %}actived{% endif %} ">
        <span>
          <div class="content">
            <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
            Homepage
          </div>
          <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

        </span>

        <ul>
            <li class="has-children">
                <strong>Banners</strong>
                <ul class="submenu">
                    <li><a href="{{ site.baseurl }}/pages/homepage/bloco-1">[Home] - Slideshow Principal - Bloco 1</a></li>
                    <li><a href="{{ site.baseurl }}/pages/homepage/bloco-2">[Home] -  Banner - Bloco 2</a></li>
                    <li><a href="{{ site.baseurl }}/pages/homepage/bloco-1">[Home] - Banner - Bloco 3</a></li>
                    <li><a href="{{ site.baseurl }}/pages/homepage/bloco-1">[Home] - Banner -  Bloco 4</a></li>
                    <li><a href="{{ site.baseurl }}/pages/homepage/bloco-1">[Home] - Régua de Vantagens - Bloco 5</a></li>
                </ul>
              </li>
              <li class="has-children">
                <strong>Tags</strong>
                <ul class="submenu">
                  <li><a href="{{ site.baseurl }}/pages/homepage/vitrine-homepage">Vitrine Homepage</a></li>
                
                </ul>
              </li>
        </ul>
      </li>

      <li class="has-children-pai categoria {% if page.title  == 'categoria' %}actived{% endif %} ">
        <span>
          <div class="content">
            
         
            <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
            Categoria
          </div>
          <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

        </span>

        <ul>
          <li class="has-children">
            <strong>Banners</strong>
            <ul class="submenu">
                <li><a href="/homepage/pagina1">Banner Categoria </a></li>
      
            </ul>
          </li>
    
              <li class="has-children">
                <strong>Tags</strong>
                <ul class="submenu">
                  <li><a href="{{ site.baseurl }}/pages/produto/compre-junto">Menu</a></li>
                  <li><a href="/tags/tag2">Google Category</a></li>
                  <li><a href="/tags/tag3">Busca Vazia</a></li>
                
                </ul>
              </li>
        </ul>
      </li>

      <li class="has-children-pai produtos {% if page.title  == 'produto' %}actived{% endif %} ">
        <span>
            <div class="content">
              <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
              Produtos
            </div>
            <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

        </span>

        <ul>
       
              <li class="has-children">
                <strong>Tags</strong>
                <ul class="submenu">
                  <li><a href="{{ site.baseurl }}/pages/produto/compre-junto">Compre Junto</a></li>
                  <li><a href="/tags/tag2">Produtos Relacionados</a></li>
                  <li><a href="/tags/tag3">Guia de Medidas</a></li>
                  <li><a href="/tags/tag4">Produtos Similares</a></li>
                  <li><a href="/tags/tag5">Etiqueta - Textual </a></li>
                  <li><a href="/tags/tag5">Etiqueta - Texto e Imagem </a></li>
                  <li><a href="/tags/tag5">Promoção em tag De x Por </a></li>
                  <li><a href="/tags/tag5">Produto Personalizado </a></li>
                  <li><a href="/tags/tag5">Tag Estampa </a></li>
                  <li><a href="/tags/tag5">Tag Info </a></li>
                  <li><a href="/tags/tag5">Tag de especificações Produtos </a></li>
                  <li><a href="/tags/tag5">Tag Vantagens PDP </a></li>
                  <li><a href="/tags/tag5">Produto Personalizado </a></li>
                  <li><a href="/tags/tag5">Produtos Similares</a></li>
                </ul>
              </li>
        </ul>
      </li>

      <li class="has-children-pai institucional {% if page.title  == 'institucional' %}actived{% endif %}">
        <span>
            <div class="content">
              <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
            Institucional
            </div>
            <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

        </span>

        <ul>
       
              <li class="has-children">
                <strong>Conteudo</strong>
                <ul class="submenu">
                  <li><a href="/tags/tag1">Criar Páginas Institucionais</a></li>
                  <li><a href="/tags/tag2">Quem Somos</a></li>
                  <li><a href="/tags/tag3">Páginas institucionais de contéudo unico</a></li>
                  <li><a href="/tags/tag4">Páginas institucionais de conteúdo - Perguntas Frequentes</a></li>
                  <li><a href="/tags/tag5">Menu de Contato</a></li>
                </ul>
              </li>
        </ul>
      </li>

      <!-- <li class="has-children-pai macro">
        <span>
           <div class="content">
            <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
            Macro
           </div>
           <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

        </span>

        <ul>
            <li class="has-children">
                <strong>Banners</strong>
                <ul class="submenu">
                    <li><a href="/homepage/pagina1">Banner Bloco 1</a></li>
                    <li><a href="/homepage/pagina2">Banner Bloco 2</a></li>
                    <li><a href="/homepage/pagina3">Banner Bloco 3</a></li>
                    <li><a href="/homepage/pagina4">Banner Bloco 4</a></li>
                    <li><a href="/homepage/pagina5">Banner Bloco 5</a></li>
                </ul>
              </li>
              <li class="has-children">
                <strong>Tags</strong>
                <ul class="submenu">
                  <li><a href="/tags/tag1">Tag 1</a></li>
                  <li><a href="/tags/tag2">Tag 2</a></li>
                  <li><a href="/tags/tag3">Tag 3</a></li>
                  <li><a href="/tags/tag4">Tag 4</a></li>
                  <li><a href="/tags/tag5">Tag 5</a></li>
                </ul>
              </li>
        </ul>
      </li> -->
     
    </ul>
</nav>
  