<nav class="menu  {{ page.title  }}">
  <ul>
  
    <li class="has-children-pai {% if page.title  == 'header' %}actived{% endif %} ">
      <span>
        <div class="content">
          <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
          Cabeçalho
        </div>
        <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

      </span>

      <ul>
        <li class="has-children">
       
            <ul class="submenu">
                <li><a class="{% if page.body_class  == 'header-logo' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/header/logo">Logo</a></li>
                <li><a class="{% if page.body_class  == 'header-menu' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/header/menu">Menu</a></li>
                <li><a class="{% if page.body_class  == 'header-menu-departamento' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/header/banner-menu">Banner Menu Departamento</a></li>
                
            </ul>
        </li>
     
    </ul>

    </li>

    <li class="has-children-pai  {% if page.title  == 'rodape' %}actived{% endif %} ">
      <span>
        <div class="content">
          
       
          <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
          Rodapé
        </div>
        <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

      </span>
      <ul>
        <li class="has-children">
       
            <ul class="submenu">
              <li><a class="{% if page.body_class  == 'rodape-menu' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/footer/menu-footer">Menu</a></li>
                <li><a class="{% if page.body_class  == 'rodape-menu-social' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/footer/menu-social">Redes Sociais</a></li>
                <li><a class="{% if page.body_class  == 'rodape-newsletter' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/footer/newsletter">Newsletter</a></li>
                <li><a class="{% if page.body_class  == 'rodape-dados-loja' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/footer/dados-loja">Dados da loja</a></li>
                
            </ul>
          </li>
      
      </ul>

    </li>

    <li class="has-children-pai  {% if page.title  == 'funcionalidades' %}actived{% endif %} ">
      <span>
        <div class="content">
          
       
          <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
          Demais funcionalidades
        </div>
        <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

      </span>

      <ul>
          <li class="has-children">
              <ul class="submenu">
                  <li><a class="{% if page.body_class  == 'indique-ganhe' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/funcionalidade/indique">Indique e ganhe</a></li>
                  <li><a class="{% if page.body_class  == 'pop' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/funcionalidade/pop">Pop-up</a></li>
               
                  <li><a class="{% if page.body_class  == 'regua-frete' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/funcionalidade/regua">Régua de Frete grátis </a></li>
                  
              </ul>
          </li>
      </ul>


    </li>

    <li class="has-children-pai  {% if page.title  == 'macro' %}actived{% endif %} ">
      <span>
        <div class="content">
          
       
          <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
          Macro
        </div>
        <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

      </span>

      <ul>
          <li class="has-children">
              <ul class="submenu">
                 
                  <li><a class="{% if page.body_class  == 'imagens-produto' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/macro/imagens-produto">Imagens do Produto</a></li>
                  <li><a class="{% if page.body_class  == 'email-transacional' %}actived-menu{% endif %}" href="{{ site.baseurl }}/pages/macro/email">E-mail Transacional</a></li>
             
                  
              </ul>
          </li>
      </ul>


    </li>

   
  </ul>
</nav>
