<nav class="menu {{ page.title | slugify }}">
    <ul>
   
      <li class="has-children-pai">
        <span>
          <div class="content">
            <img src="{{ site.baseurl }}/arquivos/icones/box.svg" alt="Logo da Loja">
                Macro
          </div>
          <img src="{{ site.baseurl }}/arquivos/icones/arrow.svg" alt="Logo da Loja">

        </span>

        <ul>
            <li class="has-children">
                <!-- <strong>Macro</strong> -->
                <ul class="submenu">
                    <li><a href="{{ site.baseurl }}/pages/categoria">Imagens dos Produtos</a></li>
    
              </li>
              <li class="has-children">
                <strong>Header</strong>
                <ul class="submenu">
                  <li><a class="{% if page.body_class  == 'banner-menu-departamento' %}actived-menu{% endif %}"  href="{{ site.baseurl }}/pages/macro/banner-menu-departamento">Banner menu </a></li>
                </ul>
              </li>
              <li class="has-children">
                <strong>Footer</strong>
                <ul class="submenu">
                  <li><a href="/tags/tag1">Tag Capa</a></li>
                  <li><a href="/tags/tag2">Tag Estampa</a></li>
                  <li><a href="/tags/tag3">Tag Info Produto</a></li>
               
                </ul>
              </li>
        </ul>
      </li>

  
     
    </ul>
</nav>
  